$vueGreen: hsla(160, 100%, 37%, 1);
$vueBG: hsla(160, 100%, 37%, 0.2);

$gradiant: linear-gradient(192.11deg, #16164D 0%, #FA6666 144.72%);
$gradiant-header: linear-gradient(215deg, rgba(113, 113, 113, 0.3) 0%, rgba(255,255,255, .3) 144.72%);
$white: #fff;
$red: #FA6666;
$bue: #16164D;
$black: #000;