@import './base.scss';
@import './colors';
@import './fonts/nunito';
@import './fonts/roboto';
//dashboard app styles
h1,h2,h3,h4,h5,h6{
  font-family: $nunito;
  font-weight: $n-medium;
  color: $white;
}

p,span,a,i,b{
  font-family: $roboto;
  font-weight: $r-regular;
  color: $white;
}